*{
    margin: 0;
    padding: 0;
    
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

form h2{
    padding: 20px 20px;
}

form div.texto{
    padding: 10px;
    font-size: 1.5em;
}

form div.texto input{
    border-radius: 15px;
    border-style: none;
    width: 400px;
}

form div.fone{
    padding: 10px;
    font-size: 1.5em;
}

form div.mensagem{
    padding: 10px;
    font-size: 1.5em;
}

form input[type='submit']{
    border-radius: 15px;
    padding: 10px;
    width: 100px;
    margin-bottom: 20px;
    margin-top: 10px;
    background: #FEFF3D;
    color: #1414BA;
    border-style: none;
}

form input[type='submit']:hover{
    background: #FEFFD7;
}